$colorPrimary: rgb(0, 105, 255);
$colorPrimaryDark: rgb(4, 35, 101);
$colorBackgroundGray: rgb(243, 245, 249);

$colorGray: rgb(208, 211, 216);
$colorBackground: rgb(255, 255, 255);

// $colorPrimary: rgb(202, 0, 0); 
// $colorPrimaryDark: rgb(65, 3, 3);
// $colorBackgroundGray: rgb(249, 243, 243);

// $colorPrimary: rgb(15, 219, 134);
// $colorPrimaryDark: rgb(3, 78, 34);
// $colorBackgroundGray: rgb(243, 249, 243);

$colorText: transparentize($colorPrimaryDark, .3);
$colorTextDark: $colorPrimaryDark;
$colorShadow: transparentize($colorPrimaryDark, 0.94);
$colorShadowDark: transparentize($colorPrimaryDark, 0.78);
$colorHover: darken($colorPrimary, 10%);







@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}










@mixin ripple($color: rgba(#616161, .2)) {
    position: relative;
    overflow: hidden;
  
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 2.5px);
      left: calc(50% - 2.5px);
      width: 5px;
      height: 5px;
      background: $color;
      opacity: 0;
      border-radius: 50%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
      transition: .3s;
    }
  
    &:focus::after {
      animation: ripple .5s ease-out;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }